@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");
a {
  color: #0992b5; }
  a:focus, a:hover {
    color: #076b84; }
  a.broken {
    color: #e41a00; }
    a.broken::before {
      content: "💥"; }
  a.external::before {
    content: "🔗"; }

body .js {
  display: none; }

body.js .js {
  display: inherit; }

aside {
  background: #f4f4f4;
  float: right;
  width: 30%; }

body {
  background: #ffffff;
  color: #0c0408;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  body > * {
    width: 95%;
    max-width: 980px; }
  body > header, body > footer {
    background: #517438;
    color: #f4f4f4;
    padding: 15px; }
    body > header h1, body > footer h1 {
      margin: 0; }
    body > header a, body > footer a {
      color: #ffffff;
      text-decoration: none; }
      body > header a:focus, body > header a:hover, body > footer a:focus, body > footer a:hover {
        color: #ffffff;
        text-decoration: underline; }
  body > footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  body > main {
    pading: 15px 0; }
    body > main header {
      margin: 15px 0; }
      body > main header h2 {
        margin: 0; }
    body > main footer {
      clear: both;
      text-align: center;
      font-size: 80%;
      color: gray;
      padding: 30px 0 15px; }

img.right {
  float: right;
  margin: 15px 0 15px 15px; }

img.left {
  float: left;
  margin: 15px 15px 15px 0; }

img.centre, img.center {
  display: block;
  margin: auto; }

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #777;
  margin: 2px;
  background: #ddd; }
  .button:hover {
    background: #ccc;
    border-color: #555; }
  .button a {
    padding: 4px 8px;
    text-decoration: none;
    color: #333; }
    .button a:hover {
      color: #000; }

.wikigame-shortcodes {
  background: #f5bdbd;
  padding: 15px 25px;
  border: 2px solid #cb1212;
  border-radius: 8px; }

.randomlink a {
  display: none; }
  .randomlink a:first-child {
    display: inherit; }
